// @media only screen and (max-width: 575.98px){
//     .card .card-body {
//         padding: 0px;
//     }

//     .fileContainer {
//         padding: 14px !important;
//         margin: 0px !important;
//         box-shadow: none !important;
//     }
//     .fileContainer-edit{
//         padding: 40px !important;
//         margin: 0px !important;
//         box-shadow: none !important;
//     }
// }

.newbadge-topbar{
    width: 14% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.newbadge-noticepanel{
    width: 15% !important;
    height: 100% !important;
    object-fit: cover !important;
}